<div class="crumbs">
  <%= link_to t('forums_title'), forums_path %> <span class="arrow">&rarr;</span>
</div>

<h1><%= t('edit_forum') %></h1>

<% form_for :forum,
     :url  => forum_path(@forum),
     :html => { :method => :put } do |f| -%>
<%= render :partial => "form", :object => f %>
<%= submit_tag t('save_forum') -%> or <%= link_to(t('cancel'), forums_path) %>
<% end -%>